.car-page {
  min-height: 100vh;
  background-image: url("/images/car.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.current-time {
  color: white;
}

.online {
  color: white;
}

.online-dot {
  background-color: #00ff88;
}
.atmosphere-title h1 {
  color: white;
}
@media (max-width: 600px) {
  .car-page {
    background-position: 50% center;
    background-size: cover;
  }
}
